@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/global.css";


.grecaptcha-badge { 
    visibility: hidden !important;
}

@layer base {
	html {
		@apply scroll-smooth
	}
	@font-face {
		font-family: 'Inter';
		src: url('/fonts/Inter-Black.woff2') format('woff2');
		font-weight: 900;
		font-style: normal;
		font-display: swap;
	}
	
	@font-face {
		font-family: 'Inter';
		src: url('/fonts/Inter-SemiBold.woff2') format('woff2');
		font-weight: 600;
		font-style: normal;
		font-display: swap;
	}
	
	@font-face {
		font-family: 'Inter';
		src: url('/fonts/Inter-Bold.woff2') format('woff2');
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}
	
	@font-face {
		font-family: 'Inter';
		src: url('/fonts/Inter-Medium.woff2') format('woff2');
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}
	
	@font-face {
		font-family: 'Inter';
		src: url('/fonts/Inter-Regular.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
		
    @font-face {
		font-family: 'Montserrat';
		src: url('/fonts/Montserrat-Bold.woff2') format('woff2');
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Montserrat';
		src: url('/fonts/Montserrat-Light.woff2') format('woff2');
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Montserrat';
		src: url('/fonts/Montserrat-Regular.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Montserrat';
		src: url('/fonts/Montserrat-SemiBold.woff2') format('woff2');
		font-weight: 600;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Roboto Mono';
		src: url('/fonts/RobotoMono-Light.woff2') format('woff2');
		font-weight: 300;
		font-style: normal;

		font-display: swap;
	}
	@font-face {
		font-family: 'Roboto Mono';
		src: url('/fonts/RobotoMono-SemiBold.woff2') format('woff2');
		font-weight: 600;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Roboto Mono';
		src: url('/fonts/RobotoMono-Regular.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Roboto Mono';
		src: url('/fonts/RobotoMono-Bold.woff2') format('woff2');
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}
}